<div class="container">
  <div class="row row-cols-3 g-4">
    {{#each books}}
      <div class="col">
        <div class="card">
          <img
            src={{this.image}}
            class="card-img-top"
            id="image-{{this.bookId}}"
          />
          <div class="card-body">
            <h5
              class="card-title"
              id="title-{{this.bookId}}"
            >{{this.title}}</h5>
            <p class="card-text" id="desc-{{this.bookId}}">{{truncate
                this.description
              }}</p>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>